# IDE & OS
*.iml
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/dictionaries
/.idea/caches
/.idea/libraries
.DS_Store

# Build
/build
/captures

# Archivos locales
/local.properties

# Gradle cache (pero dejar wrapper)
.gradle/
!gradlew
!gradlew.bat
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

