# macOS
.DS_Store

# Android Studio
.idea/
*.iml

# Build
/build
/captures

# Archivos locales
/local.properties

# Gradle cache (pero dejar wrapper)
.gradle/
!gradlew
!gradlew.bat
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

